*.user*
*.dll
*.mdb
*.pidb
*.so
*.o
*.lo
*.la

Makefile
Makefile.in
/configure
/config.*
/depcomp
/install-sh
/aclocal.m4
/autom4te.cache
/libtool
/ltmain.sh
/missing
.libs/
.deps/

/.run/
libmaigre/maigre-style.c
Maigre/Maigre_Theme.cs
